.page-link{
  border-radius: 50%;
  margin: 0 8px;
  background-color: #ffffff6c !important;
  color: #fff !important;
}
.page-item:first-child .page-link,.page-item:last-child .page-link{
  border-radius: 0;
}